.AboutMe {
  background-color: #ecebe4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.AboutMe img {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.fitnes-list {
  align-self: start;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

.masaze {
  align-self: start;
}

.AboutMe li {
  margin-bottom: 0.3rem;
}

.AboutMe h1 {
  margin-bottom: 2rem;
}
