.massage {
  background-color: #ecebe4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
}

.massage-img {
  width: 70%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.massage-btn {
  background-color: #1c1c1c;
  color: #ecebe4;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 1000px) {
  .massage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  .massage-img {
    width: 50%;
  }
}
